.page {
  min-width: 1100px;
  max-width: 1600px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: Inter, "Noto Serif", "Times New Roman", Arial, sans-serif, serif;
  font-size: 16px;
  line-height: 20px;
}
