.reservation {
  min-height: 720px;
  margin: 0px;
  padding-bottom: 120px;
  box-sizing: border-box;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 100px 0px 80px;
}

.reservation__form {
  margin: 0px auto;
}

.form {
  max-width: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.reservation__form_fieldset {
  border: none;
  margin: 0px;
  padding: 0px;
}

.reservation__form_label {
  padding-bottom: 8px;
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.reservation__form_input {
  margin-bottom: 32px;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  border: 1px;
  border-style: solid;
  border-color: #838383;
}

.reservation__form_input::placeholder {
  color: #838383;
}

.reservation__form_fieldset_button {
  box-sizing: border-box;
  text-align: center;
  padding: 0px 0px 32px;
  border: none;
}

.reservation__form_button {
  margin: 0px;
  width: 385px;
  background-color: #1878dc;
  box-sizing: border-box;
  padding: 20px 0px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border-radius: 4px;
}

.reservation__form_button:hover {
  background-color: #3f96f3;
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  cursor: pointer;
}

.reservation__form_fieldset_checkbox {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation__form_checkbox {
  margin: 0px 12px 0px 0px;
  height: 20px;
  width: 20px;
  padding-right: 12px;
  text-align: center;
}

.reservation__form_checkbox:hover {
  cursor: pointer;
}

.reservation__form_checkbox:checked {
  accent-color: #1878dc;
}

.reservation__form_checkbox_label {
  margin: auto;
}
