.page {
  min-width: 1100px;
  max-width: 1600px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__image {
  z-index: 1;
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__title {
  margin: 0px;
  padding-top: 183px;
  max-width: 729px;
  height: 40px;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__sub-title {
  margin: 0px;
  padding-top: 28px;
  max-width: 729px;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__description {
  padding-top: 28px;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

.header__hours {
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__address {
  align-content: flex-end;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.nav__logo {
  width: 80px;
  height: 57px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-start;
  list-style-type: none;
}

.nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
  margin-top: 30px;
  text-decoration: none;
  color: #000;
}

.nav__link:hover {
  color: #3f96f3;
}

.content {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

.recipes {
  min-height: 100vh;
  /* height: 100vh; */
  /* max-height: 800px; */
  margin: 0px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.recipes__content {
  margin: 0px;
}

.recipes__title {
  margin: 0px;
  padding-top: 70px;
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  color: #ffffff;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 24px 0px 80px;
  /* padding-top: 24px; */
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  /* width: 480px; */
  height: 273px;
  padding: 0px;
}

.recipes__video-caption {
  margin: 0px;
  padding: 24px 0px 215px;
  font-family: "Inter";
  font-style: normal;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  min-height: 720px;
  margin: 0px;
  padding-bottom: 120px;
  box-sizing: border-box;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 100px 0px 80px;
}

.reservation__form {
  max-width: 385px;
  margin: 0px auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.reservation__form_fieldset {
  border: none;
  margin: 0px;
  padding: 0px;
}

.reservation__form_label {
  padding-bottom: 8px;
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.reservation__form_input {
  margin-bottom: 32px;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  border: 1px;
  border-style: solid;
  border-color: #838383;
}

.reservation__form_input::placeholder {
  color: #838383;
}

.reservation__form_fieldset_button {
  box-sizing: border-box;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.reservation__form_button {
  width: 100%;
  background-color: #1878dc;
  padding: 20px 0px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border-radius: 4px;
}

.reservation__form_button:hover {
  background-color: #3f96f3;
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  cursor: pointer;
}

.reservation__form_fieldset_checkbox {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 2px;
}

.reservation__form_checkbox:hover {
  cursor: pointer;
}

.reservation__form_checkbox_label {
  margin: 0px;
  display: inline;
}
